.userDetails_page{
    background-color: white;
    
}

.user_container{
    margin: 10px;
    margin-left: 180px;
    border: 1px solid rgb(104, 103, 103);
    width: 900px;
    height: 800px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.user_container .user_card{
    cursor: pointer;
    border: 1px solid rgb(185, 184, 184);
    background-color: whitesmoke;
    border-radius: 3px;
    margin: 30px;
    padding: 30px;
    width: 800px;
    position: relative;
}

.user_container .user_card .time{
    position: absolute;
    right: 30px;
    top: 40px;
    font-weight: 650;
}


.user_container .user_card h6{
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    background-color: white;
    height: 100px;
    
}

@media only screen and (max-width: 600px){

   
    .user_container{
        margin: 10px;
        border: none !important;
        border-radius: 5px;
        overflow: none !important;
    }
    .user_container .user_card{
        cursor: pointer;
        border: 1px solid rgb(185, 184, 184);
        background-color: whitesmoke;
        border-radius: 3px;
        margin: 0px !important;
        margin-bottom: 20px !important;
        width: 350px !important;
        position: relative;
    }
    .user_container .user_card h2, h5, h6 {
        font-size: 13px !important;
    }

    .user_container .user_card .time{
        font-size: 8px !important;
        right: 30px !important;
        top: 30px !important;
    }

    .user_container .user_card h6{

        height: 60px !important;
        width: 300px !important;
        
    }

}